*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 99vh;
    background-color: rgb(5, 5, 113);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

div.main-content{
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}



.item-square{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 2px solid rgb(194, 2, 194);;
    color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

article.item-square.clicked{
    background-color: rgb(25, 155, 255);
}

#button{
    height: 38px;
    width: 65px;
    color: white;
    background-color:  rgb(5, 5, 113);
    border: 5px solid rgb(147, 0, 147);
    border-radius: 13px;
    font-size: 1.4rem;
    font-family: Helvetica, sans-serif;
    transition: .2s;
}

#button:hover{
    border: 3px solid rgb(245, 76, 245);
    font-size: 1.2rem;
}

.bg-red{
    background-color: red;
}

.bg-gold{
    background-color: goldenrod;
}

.score{
    width: 40px;
    height: 60px;
}